body {
    background-color: #000;
    color: #0f0; /* Green text */
    font-family: 'Courier New', Courier, monospace;
}

html{
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    display: flexbox;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-size: 24px;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

button {
    background-color: #00ff00; /* Green button */
    color: #000; /* Black text */
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    margin-left: 40px;
    margin-top: 10px;
}

button:hover {
    background-color: rgba(9, 117, 9, 0.431); /* Dark green on hover */
    color: white;
}


#upload-progress{
    background-color:#00ff00 ;
    margin-top: 25%;
}